<form  [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="doctor-register-form">

  <div style="width: 30%;" class="container mt-5">
      <div class="card shadow-lg rounded p-4 border-0">
        <h2 class="text-center text-primary">Sign Up for Doctor</h2>
        <hr>

        <div class="mb-2">
        <app-text-input 
          [formControl]="$any(registerForm.controls['doctorname'])" 
          [label]="'Doctor Name'" 
          class="form-control border-light input-styled">
        </app-text-input>
        </div>

        <div class="mb-2">
        <app-text-input 
          [formControl]="$any(registerForm.controls['doctorpassword'])" 
          [label]="'Password'"
          [type]="'password'" 
          class="form-control border-light input-styled">
        </app-text-input>
        </div>

        <div class="mb-2">
        <app-text-input 
          [formControl]="$any(registerForm.controls['confirmPassword'])" 
          [label]="'Confirm Password'" 
          [type]="'password'" 
          class="form-control border-light input-styled">
        </app-text-input>
        </div>

        <div class="mb-2">
          <label for="dateOfBirth" class="form-label fw-semibold">Date of Birth</label>
          <input 
            id="dateOfBirth"
            [formControl]="$any(registerForm.controls['dateOfBirth'])" 
            type="date"
            class="form-control border border-2 shadow-sm input-styled">
        </div>
  
        <div class="mb-2">
          <label for="doctorprice" class="form-label fw-semibold">Price</label>
          <input 
            id="doctorprice"
            [formControl]="$any(registerForm.controls['doctorprice'])" 
            type="number"
            class="form-control border border-2 shadow-sm input-styled">
        </div>
  
        <input type="hidden" [formControl]="$any(registerForm.controls['adminId'])">
  
          <div class="mb-2">
          <label for="fieldId" class="form-label fw-semibold">Field</label>
          <select 
            id="fieldId" 
            class="form-select shadow-sm input-styled" 
            [formControl]="$any(registerForm.controls['fieldId'])">
            @for (field of fields; track $index) {
              <option value={{field.id}}>{{field.name}}</option>
            }
          </select>
        </div>
  
        <div class="mb-2">
          <label class="form-label fw-semibold">Available Days</label><br>
        
          <div *ngFor="let day of ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; let i = index">
            <input 
              type="checkbox"
              [value]="i" 
              (change)="onDayCheckboxChange($event)">
            {{ day }}
          </div>
        </div>
        
        
        <div class="mb-2">
          <label for="startTime" class="form-label fw-semibold">Start Time</label>
          <input 
            id="startTime"
            type="time" 
            [formControl]="$any(registerForm.controls['startTime'])"
            class="form-control border border-2 shadow-sm input-styled">
        </div>
        
        <div class="mb-2">
          <label for="endTime" class="form-label fw-semibold">End Time</label>
          <input 
            id="endTime"
            type="time" 
            [formControl]="$any(registerForm.controls['endTime'])"
            class="form-control border border-2 shadow-sm input-styled">
        </div>
        
        <div class="text-center">
          <button 
            [disabled]="!registerForm.valid" 
            class="btn btn-success px-4 py-2 rounded-pill shadow-sm" 
            type="submit">
            Register
          </button>
        </div>
      </div>
    </div>
  </form>
  