<form style="margin-top: 5%;"  [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <div class="container mt-5">
        <div class="card p-4" style="border: none;">
            <h2 class="text-center text-primary mb-4">Sign Up For Doctor</h2>
            <hr>

            <app-text-input 
                [formControl]="$any(registerForm.controls['doctorname'])" 
                [label]="'Doctor Name'" 
                class="form-control mb-3" style="border: none;">
            </app-text-input>

            <app-text-input 
                [formControl]="$any(registerForm.controls['doctorpassword'])" 
                [label]="'Password'"
                [type]="'password'" 
                class="form-control mb-3" style="border: none;">
            </app-text-input>

            <app-text-input 
                [formControl]="$any(registerForm.controls['confirmPassword'])" 
                [label]="'Confirm Password'" 
                [type]="'password'" 
                class="form-control mb-3" style="border: none;">
            </app-text-input>
            
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">dateOfBirth</label>
                <input 
                    id="dateOfBirth"
                    [formControl]="$any(registerForm.controls['dateOfBirth'])" 
                    [type]="'date'" 
                    class="form-control" style="border: 1px solid lightgray;">
            </div>

            <div class="mb-3">
                <label for="doctorprice" class="form-label">Price</label>
                <input 
                    id="doctorprice"
                    [formControl]="$any(registerForm.controls['doctorprice'])" 
                    [type]="'number'" 
                    class="form-control" style="border: 1px solid lightgray;">
            </div>

            <input type="hidden" [formControl]="$any(registerForm.controls['adminId'])">

            <div class="mb-3">
                <label for="fieldId" class="form-label">Field</label>
                <select [formControl]="$any(registerForm.controls['fieldId'])">
                    @for (field of fields; track $index) {
                    <option value={{field.id}}>{{field.name}}</option>
                    }
                </select>
            
            </div>

            <div class="form-group text-center mt-4">
                <button 
                    [disabled]="!registerForm.valid" 
                    class="btn btn-success" 
                    type="submit">
                    Register
                </button>
            </div>

        </div>
    </div>

    <!-- Debugging information -->
    <div class="mt-4">
        <p>Register value: {{ registerForm.value | json }}</p>
        <p>Register status: {{ registerForm.status | json }}</p>
    </div>
</form>
