<form style=" width: 50%; margin-top:5%;" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off"
    class="container p-4 border rounded shadow-sm bg-light">
    <h2 class="text-center text-primary mb-4">Add Appointment</h2>

    <hr>
    <!-- Hidden Admin ID -->
    <input type="hidden" [formControl]="$any(registerForm.controls['adminId'])">
    <div *ngIf="schedule.length > 0" class="mt-4">
        <h5 class="text-secondary">Doctor's Schedule:</h5>
        <ul class="list-group">
          <li *ngFor="let s of schedule" class="list-group-item">
            <strong>{{ dayNames[+s.dayOfWeek] }}:</strong>
            {{ s.startTime }} - {{ s.endTime }}
          </li>
        </ul>
      </div>
      
      
    <!-- Choose Doctor -->
    <div class="mb-3">
        <select id="doctorId" class="form-select" formControlName="doctorId" (change)="onDoctorChange($event)">
            <option value="" disabled>-- Select a Doctor --</option>
            <option *ngFor="let doctor of doctors" [value]="doctor.id">
              {{ doctor.name }} = {{ doctor.doctorPrice }}
            </option>
          </select>
          
    </div>

    <!-- Choose Patient -->
    <div class="mb-3">
        <select id="patientId" class="form-select" [formControl]="$any(registerForm.controls['patientId'])">
            <option value="" disabled selected>-- Select a Patient --</option>
            @for (patient of patients; track $index) {
            <option value={{patient.id}}>{{patient.name}}</option>
            }
        </select>
    </div>

    <div *ngIf="$any(registerForm.controls['date']).errors?.['dateInPast'] && $any(registerForm.controls['date']).touched"
        class="text-danger">
        Date cannot be in the past.
    </div>

    <!-- Date -->
    <div class="mb-3">
        <input id="date" class="form-control" type="date" [formControl]="$any(registerForm.controls['date'])">
    </div>

    <!-- Time -->
    <div class="mb-3">
        <input id="time" class="form-control" type="time" step="1" [formControl]="$any(registerForm.controls['time'])">
    </div>

    <!-- Submit Button -->
    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success px-4" type="submit">Register</button>
    </div>

    <!-- Debugging Information -->
    <hr>
    <p><strong>Register Value:</strong> {{ registerForm.value | json }}</p>
    <p><strong>Register Status:</strong> {{ registerForm.status | json }}</p>

</form>