<carousel>
    <slide>
      <img src="../../assets/slideshow/1.jpg" alt="first slide" style="margin-top: 10%;margin-left:20%; display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style=" margin-right: 10%; text-align:center;" >Second slide label</h3>
        <p style=" margin-right: 10%; text-align: center;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/slideshow/2.jpg" alt="second slide" style="margin-top: 10%;margin-left:20%; display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style=" margin-right: 10%; text-align:center;" >Second slide label</h3>
        <p style=" margin-right: 10%; text-align: center;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/slideshow/3.jpg" alt="third slide" style="margin-top: 10%;margin-left:20%; display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style=" margin-right: 10%; text-align:center;" >Second slide label</h3>
        <p style=" margin-right: 10%; text-align: center;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
  </carousel>